<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/mev6qqe.css" />
    <link rel="stylesheet" href="/create-an-event.css" />
  </head>
  <body>
    <div class="main">
      <div class="navLogo">
        <a href= "http://localhost:3000">
           <p>GT<span class="word">W</span>O</p>
     </a>
      </div>
      <div class="main-section">
        <div class="create-an-event">
            <div class="title">
                <p>Create an Event</p>
            </div>
            <div class="fill-methods">
                <div class="method">
                    <a href="/create">Input Manually</a>
                </div>
                <div class="method" id="ai-method">
                    <img src="images/ai.png" alt="ai" height="30" class="ai-sparkle">
                    <a href="/autofill">Autofill with AI</a>
                </div>
            </div>
          </div>
      </div>
      
    </div>
    </script>
  </body>
</html>