<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="evnetInformation">
            <h2 class="eventTitle"><%= event.title %></h2>
            <div class="description">
                <p class="eventDescription"><%= event.description %></p>
            </div>
            <p class="date"><%= event.date %></p>
            
        </div>
        <script>
        </script>
    </body>
</html>