<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://use.typekit.net/mev6qqe.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div>
      <h1>GetThe<span>Word</span>Out</h1>
      <div>
        <a href="/events">Existing Events</a>
        <a href="/create">Create Event</a>
      </div>
    </div>
  </body>
</html>