<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">
    <title>Log In</title>
</head>
<body>
    <!-- <div class="bg"></div> -->
    <div class="main">
        <div class="logo">
          <h1>GetThe<span class="word">Word</span>Out</h1>
        </div>

        <form id="loginForm" class="loginHere">
            <h1 class="lgn">Log In</h1>
            <div class="infoInput">
              <label for="Email">Email Address</label><br>
              <input name="email" id="email"><br>
              <label for="Password">Password</label><br>
              <input type="Password" name="Password" id=""><br>
            </div>
            <div class="checkBoxLine">
              <input type="checkbox">Remember Me</input>
              <a href="/reset">Forgot Password?</a><br>
            </div>
            <button type="submit" id="lgnButton" class="loginBtn">Login</button>
            <div class="signUpLink">
              <p>Don't have an account?</p>
              <a href="/signup-page">Sign Up.</a>
            </div>
        </form>
      </div>

      <style>

      </style>
</body>
</html>