<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="main">
        <div class="logo">
          <h1>GetThe<span class="word">Word</span>Out</h1>
        </div>

        <form id="signUpForm" class="signUpHere">
            <h1 class="sgnup">Sign Up</h1>
            <div class="infoInput">
                <div class="names">
                    <div class="fstName">
                        <label for="first name">First Name</label><br>
                        <input name="first name" id="name"><br>
                    </div>

                    <div class="lstName">
                        <label for="last name">Last Name</label><br>
                        <input type="last name" name="name" id=""><br>
                    </div>

                </div>
                <div class="btmPart">
                    <div class="em">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" id=""><br>
                    </div>

                    <div class="phoneNumber">
                        <label for="number">Phone Number</label><br>
                        <input type="number" name="number" id=""><br>
                    </div>

                    <div class="pass">
                        <label for="Password">Password</label><br>
                    <input type="password" name="password" id=""><br>
                    </div>

                </div>
            </div>
            <!-- <div class="checkBoxLine">
              <input type="checkbox">Remember Me</input>
              <a href="">Forgot Password?</a><br>
            </div> -->
            <button type="submit" id="lgnButton" class="loginBtn">Create Account</button>
            <div class="signUpLink">
              <p>Already have an account?</p>
              <a href="/login-page">Login.</a>
            </div>
        </form>
      </div>

</body>
</html>