body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", system-ui;
    background: url(images/bg.png);
    background-size: cover;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navLogo{
    display: flex;
    margin: -325px 0px 160px 50px;
    font-size: 25px;
    font-weight: 700;
    position: relative;

}

.logo{
    font-size: 25px;
}

span{
    color: #5AA5FF;
}

.create-an-event{
    display: flex;
    flex-direction: column;
    background-color: white;
    display: inline-block;
    width: 350px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}

.fill-methods{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.fill-methods a{
    text-decoration: none;
    color: white;
}



.method{
    background-color:#5AA5FF;
    width: 300px;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
}


.main-section{
    display: flex;
    justify-content: center;
}

#ai-method{
    display: flex;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(90,61,255,1) 35%, rgba(9,9,121,1) 100%);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title{
    margin-left: -180px;
    color: #5AA5FF;
}







