
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", system-ui;
    background: url(images/bg.png);
    background-size: cover;
}


body{
    font-family: "quicksand", sans-serif;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container{
    /* padding-top: 170px; */
}



.navLogo{
    display: flex;
    font-size: 25px;
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    /* margin-left: -201px;
    font-size: 25px;
    font-weight: 700;
    position: relative; */
    /* margin-top: 400px; */
    /* margin: 100px 0px 100px -300px; */
    margin-left: -400px;
    position: absolute;
}

.navLogo a {
    text-decoration: none !important;
    color: black;
}


span{
    color: #5AA5FF;
}

textarea {
    border-style: solid;
    border-radius: 4px;
    border: 2px solid #EAEAEC;
    box-sizing: border-box;
    padding: 9px 5px;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 650;
    resize: none;
}


label{
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
}


.formBox {
    background-color: rgb(255, 255, 255);
    width: 530px;
    height: 800px;
    border-radius: 10px;
    border: 2px solid #EAEAEC;
    padding-left: 24px;
}

#button {
    background-color: #5AA5FF;
    color: white;
    font-size: large;
    border-style: none;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all .25s;
}

#button:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#Description {
    width: 500px;
    height: 175px;
    top: 339px;
    left: 498px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
}

/* #Date {
    width: 200px;
    height: 56px;
}

#Time {
    position: relative;
    width: 200px;
    height: 56px;
    left: 235px;
    bottom: 62px;
    gap: 0px;
} */

/* #Location {
    position: relative;
    width: 200px;
    height: 56px;
    top: -20px;
    left: 0px;
    gap: 0px;
    margin-top: 100px;
} */

.bg{
    background-image: url("/images/background.png");
    background-position: 10px -100px;
    background-size: 1450px 900px;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 450px;
    height: 425px;
    position: absolute;
    width: 1000px;
    top: 150px;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}

.uploadFileButton {
    width: 180px;
    height: 50px;
    margin-bottom: -14px;
    margin-top: -14px;
}

.createEvent {
    position: relative;
    width: 500px;
    height: 60px;
    top: 30px;
}

/* .timeLabel {
    position: relative;
    bottom: 40px;
    left: 23px;
} */

/* .locationLabel {
    position: relative;
    right: 210px;
} */


/* new */

#previewModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.preview-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.preview-modal-content h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.preview-item {
    margin-bottom: 15px;
}

.preview-item strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.preview-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.preview-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#editBtn {
    background-color: #f0f0f0;
    color: #333;
}

#confirmBtn {
    background-color: #007bff;
    color: white;
}

.thumbnail-file input{
    width: 345px;
    border: 2px solid #5AA5FF;
    padding: 0px 150px 0px 0px;
    margin-bottom: -10px;
    margin-top: -10px;
    border-radius: 5px;
}

.thumbnail-file input[type="file"]::file-selector-button {
    /* background-color: #F0F2F8; */
    background-color: #5AA5FF;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    margin-right: 30px;
    margin-left: -5px;
  }


.textareas{
    width: 497px;
}


input{
    height: 30px;
    text-indent: 5px;
}

.times{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25px;
}

#Date{
    width: 200px;
}

.formBox{
    /* line-height: 40px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 30px;
}

#eventForm{
    /* margin-top: 100px; */
}