body, html {
    height: 100%;
    font-family: "Quicksand", system-ui;
    background: url(images/bg.png);
    background-size: cover;
}


body {
    background: rgba(255, 255, 255, 0.8);
   

}


.navLogo {
    font-size: 25px;
    font-weight: 700;
    padding-inline: 10px;

}


.navLogo a {
    text-decoration: none !important;
    color: black;
}


span{
    color: #5AA5FF;
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 10px;
}


.eventButton {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-bottom: 20px;
    justify-content: space-between;
}


.eventTitle {
    margin: 0;
    flex-grow: 1;
    font-size: 24px;
    color: #333;

}


.eventButton:hover {
    background-color: #f8f8f8;
}


.editor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.thumbnail-image{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail-event-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pageTitle{
    margin-bottom: 20px;

}

.event-container{
    background-color: none;
    padding: 5px;
    top:20px;
    
}

.event-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: full;
    flex-direction: column;
    justify-content: center;
}

