/* html,
body {
    display: inline-list;
    font-family: "quicksand", sans-serif;
    font-display:auto;
    font-style: normal;
    font-weight: 700;
} */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", system-ui;
    background: url(images/bg.png);
    background-size: cover;
}


body {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* header{
    display: flex;
    justify-content: flex-start;
} */

.navLogo{
    font-size: 25px;
    font-weight: 900;
    margin-right: auto;
    margin-top: -480px;
    margin-left: 50px;

}



span{
    color: #5AA5FF;
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 10px;
}


.eventButton {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-bottom: 20px;
}



.eventTitle {
    margin: 0;
    flex-grow: 1;
    font-size: 24px;
    color: #333;
}

/* .editor {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    padding-right: 15px;
    justify-content: center;
    background-color: rgb(115, 115, 115);
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 30px;
} */


/* .fixEvent {
    cursor: pointer;
} */

/* .material-icons {
    font-size: 20px;
    color: #000000;
    cursor: pointer;
} */


/* .eventButton:hover {
    background-color: #f8f8f8;
} */

.eventRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

