body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", system-ui;
    background: url(images/bg.png);
    background-size: cover;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navLogo{
    display: flex;
    margin: -100px 0px 160px 50px;
    font-size: 25px;
    font-weight: 700;
    t
}

.logo{
    font-size: 25px;
}

span{
    color: #5AA5FF;
}


.mainBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    margin-top: -10px;
}


.mainBtns a{
    text-decoration: none;
    color: black;
    height: 100px;
    width: 600px;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
    border: #EAEAEC 2px solid;
    transition: all 0.3s;
    transform: box-shadow() translateY();
}

/*.mainBtns a:hover {*/
.mainBtns a:hover{
    text-decoration: none;
    color: black;
    height: 100px;
    width: 600px;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px;
    border: #EAEAEC 2px solid;
    transform: translateY(-5px);
}


.mainBtns p{
    font-size: 20px;
}





