html,
body {
    display: inline-list;
    font-family: "quicksand", sans-serif;
    font-display:auto;
    font-style: normal;
    font-weight: 300;
}

h1 {
    position: relative;
    font-family: Quicksand;
    font-size: 50px;
    font-weight: 700;
    line-height: 62.5px;  
    width: 388px;
    height: 63px;
    top: 25px;
    left: 80px;
    gap: 0px;   
}

h4 {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    
}

textarea {
    border-style: solid;
    border-radius: 4px;
    border: 2px solid #EAEAEC;
    box-sizing: border-box;
    padding: 9px 5px;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 650;
    resize: none;
}

input, select{
    border-style: solid;
    border-radius: 4px;
    border: 2px solid #EAEAEC;
}

select{
    appearance: none;
    font-size: 1rem;
    padding: 0.675em 6em 0.675em 1em;
    cursor: pointer;
    width: 205px;
    height: 56px;
    font-weight: 650;
}

label{
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    
}

#form{
    text-align: 50px;
    padding-left: 450px;
}

.formBox {
    background-color: white;
    width: 530px;
    height: 950px;
    border-radius: 10px;
    border: 2px solid #EAEAEC;
    padding-left: 24px;
}

#button {
    background-color: #5AA5FF;
    color: white;
    font-size: large;
    border-style: none;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all .25s;
}

#button:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#eventTitle {
    width: 500px;
    height: 50px;  
}

#Description {
    width: 500px;
    height: 175px;
    top: 339px;
    left: 498px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
}

#Date {
    width: 200px;
    height: 56px;
}

#Time {
    position: relative;
    width: 200px;
    height: 56px;
    left: 235px;
    bottom: 62px;
    gap: 0px;
}

#Location {
    position: relative;
    width: 200px;
    height: 56px;
    top: -20px;
    left: 0px;
    gap: 0px;   
}

.bg{
    background-image: url("/images/background.png");
    background-position: 10px -100px;
    background-size: 1450px 900px;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 450px;
    height: 425px;
    position: absolute;
    width: 1000px;
    top: 150px;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}

.uploadFileButton {
    width: 180px;
    height: 50px;
    margin-bottom: -14px;
    margin-top: -14px;
}

.createEvent {
    position: relative;
    width: 500px;
    height: 60px;
    top: 30px;
}

.timeLabel {
    position: relative;
    bottom: 40px;
    left: 23px;
}

.locationLabel {
    position: relative;
    right: 210px;
}

