


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", system-ui;
    background: url(images/bg.png);
    background-size: cover;
}
    
    
body {
    background: rgba(255, 255, 255, 0.8);
}
        

.navLogo{
    /* display: flex;
    margin: -100px 0px 160px 50px; */
    font-size: 25px;
    font-weight: 700;

}


span{
    color: #5AA5FF;
}

.eventTitle{
    background: #5AA5FF;
    padding: 10px 50px 10px 50px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.evnetInformation{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}

.timeNdescription{
    height: 100%;
    width: 500px;
    background: rgba(0, 0, 0, 0.431);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.description{
    background: rgb(255, 255, 255);
    width: 440px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 5px;
}
.date{
    background: rgb(255, 255, 255);
    width: 440px;
    margin: 0px 0px 10px 0px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 5px;
}


